/* *tablet */
@media (min-width: 768px) and (max-width: 1024px) {
	.nav {
		width: 100%;
	}

	.nav--logo {
		height: auto;
	}

	.food--items > a {
		width: 100%;
		height: 100%;
	}

	.menu--items {
		width: auto;
	}

	.items--order {
		padding: 0px 68px 18px 46px;
	}

	.order--btn {
		width: 160px;
	}

	.list--items fieldset {
		min-width: 80%;
	}
}

/* *mobile */
@media (max-width: 767px) {
	#header {
		position: relative;
	}

	.nav {
		height: 46px;
		display: block;
	}

	.nav--list {
		text-align: center;
		display: block;
	}

	.nav--list + .nav--list {
		margin: auto;
		text-align: center;
	}

	.nav--items > a {
		padding: 15px 0;
		line-height: 0;
	}

	.content--header {
		margin-top: 46px;
		flex-direction: column;
	}

	.content--header input {
		width: 182px;
		text-align: center;
	}

	.search--btn {
		margin: 5px 0 0 0;
		padding: 8px 69px;
	}

	.menu--items {
		width: 80%;
	}

	.food--items {
		width: 70%;
	}

	.list--items fieldset {
		min-width: 100%;
	}
}
